* {
  font-family: 'Libre Baskerville', serif;
  color: #333333;
  background-color: #EEEEEE;
}

.container {
  width: 800px;
  margin: auto;
}

header {
  text-align: center;
}

header h3 {
  font-style: italic;
}

.nav {
  display: flex;
  margin: auto;
  text-align: center;
  padding: 0;
  justify-content: space-around;
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 3px double #333333;
  border-bottom: 3px double #333333;
  margin-bottom: 2em;
}

.nav li {
  display: inline;
  list-style-type: none;
}

.page {
  display: none;
}

.nav-item {
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.nav-item:hover {
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

.italic {
  font-style: italic;
}

.toc a {
  text-decoration: none;
  font-weight: 700;
}

.toc a:hover {
  color: blue;
}

.toc-item {
  display: block;
  width: 100%;
}

.toc-item + .toc-item {
  margin-top: 1em;
}

.toc-date {
  float: right;
}

.image-list {
  list-style-type: none;
  padding: 0;
}

.image-list li {
  padding: 3em 1em 3em 1em;
  border-bottom: 3px double #333333;
  text-align: center;
}

.image-list li img {
  width: 80%;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}