* {
  font-family: 'Libre Baskerville', serif;
  color: #333333;
  background-color: #EEEEEE;
}

.container {
  width: 800px;
  margin: auto;
}

.landing {
  position: relative;
}

img {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
}

header a {
  text-decoration: none;
}

header h3 {
  font-style: italic;
}

.nav {
  display: flex;
  margin: auto;
  text-align: center;
  padding: 0;
  justify-content: space-around;
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 3px double #333333;
  border-bottom: 3px double #333333;
  margin-bottom: 2em;
}

.nav li {
  display: inline;
  list-style-type: none;
}

.page {
  display: none;
}

.nav-item {
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.nav-item:hover {
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

.italic {
  font-style: italic;
}

.toc a {
  text-decoration: none;
  font-weight: 700;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}

.toc a:hover {
  transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
}

.toc-item {
  display: block;
  width: 100%;
}

.toc-item + .toc-item {
  margin-top: 1em;
}

.toc-date {
  float: right;
}

.project-desc {
  font-size: 0.8em;
  font-style: italic;
  padding-bottom: 0.5em;
}

.image-list {
  list-style-type: none;
  padding: 0;
}

.image-list li {
  padding: 3em 1em 3em 1em;
  border-bottom: 3px double #333333;
  text-align: center;
}

.image-list li img {
  margin: auto;
  display: block;
  width: 80%;
}

.image-list li:nth-child(n+6) img {
  opacity: 0;
  transition: opacity .3s ease-in;
  -webkit-transition: opacity .3s ease-in;
  -moz-transition: opacity .3s ease-in;
  -o-transition: opacity .3s ease-in;
}

.caption {
  background-color: #EEEEEE;
}

.about img {
  margin-top: 2em;
  border-radius: 5px;
  width: 33%;
}

.about {
  text-align: center;
}

.about .about-text {
  width: 60%;
  padding: 1em;
  margin: auto;
  text-align: center;
}

footer {
  margin-top: 5em;
  text-align: center;
  margin-bottom: 1em;
}

.copyright {
  font-size: 0.8em;
  text-align: center;
}

footer a {
  text-decoration: none;
}

.icons {
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

.coins.section-header:not(:first-child) {
    padding-top: 3em;
    border-top: 3px double #333333;
}

.coins.footer {
    border-top: 3px double #333333;
    text-align: center;
}

.coins.footer p {
    padding-top: 3em;
    padding-bottom: 3em;
    width: 70%;
    margin: auto;
    font-style: italic;
}

.coins.footer p + p {
    border-top: 3px double #333333;
}